<ion-view class="registration">
  <ion-content>

    <div class="main-block">

      <div class="data-block">
        <div class="title">
          <span>payment</span>
        </div>

        <div class="kids-block" ng-repeat="(key, kid) in vm.kids" ng-if="!kid.register">
          <div class="kid">
            <!--<img ng-src="./img/payment/kid{{key}}.png" class="kid-img" ng-if="key <= 2">-->
            <!--<img src="./img/payment/kid0.png" class="kid-img" ng-if="key > 2">-->
            <img src="./img/payment/100$.png" class="price" ng-if="key === 0">
            <img src="./img/payment/50$.png" class="price" ng-if="key !== 0">

            <div class="info" ng-class="vm.kidColor(key)">

              <img src="./img/payment/edit-ico.png" class="edit" ng-click="vm.editKid(kid)">
              <div class="kid-name"><span>{{kid.name}}</span></div>
            </div>

            <div class="kid-dots"></div>

          </div>
        </div>

        <div class="another-kid">
          <img src="./img/payment/add-another-kid.png" class="add-img"
          ng-click="vm.addKid()">
        </div>

        <div class="price-block">
          <div class="price"><span>total</span></div>
          <div class="price count"><span>{{vm.totalPrice}}$</span></div>
        </div>
      </div>
      <div class="confirm-block">
        <!--<div class="save" ng-click="vm.toMenu()">proceed</div>-->
        <div class="save" ng-click="vm.pay()">proceed</div>
      </div>

    </div>
  </ion-content>
</ion-view>
