.registration {

  .main-block {
    height: 100vh;
    max-height: 100vh;
    min-height: 568px;
    width: 100vw;
    background: url('../img/registration/registration.png') no-repeat center;
    background-size: cover;
    position: relative;
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    font-family: American;
    color: #0b1138;
    font-weight: 900;
    padding: 43px 0 35px 0;
  }

  .back-to-kids {
    position: absolute;
    z-index: 10;
    top: 27px;
    left: 0;

    img {
      padding: 10px;
      height: 45px;
    }
  }
  .data-block {
    width: 100%;
    height: 85%;
    overflow: overlay;
  }
  .confirm-block {
    width: 100%;

    .save {
      font-family: AmericanPatrius;
      text-transform: uppercase;
      text-align: center;
      font-size: 19px;
      color: #fff;
      font-weight: 700;
      width: calc(100% - 20px);
      line-height: 46px;
      border: 2px solid #0b1138;
      border-radius: 5px;
      margin: 5px auto 0;
      background: url("../img/payment/kid-color-0.png") no-repeat center;
      background-size: 140%;
    }
  }

  .kids-block {
    margin: 29px 0 0;
    width: 100%;
    height: auto;
  }

  .kid {
    width: 100%;
    height: 67px;
    margin: 3px auto 0;
    position: relative;

    .kid-img {
      position: absolute;
      top: -41px;
      left: 10px;
      height: 90px;

    }
    .price {
      position: absolute;
      top: -13px;
      right: 10px;
      height: 71px;
    }
    .info {
      display: flex;
      height: 49px;
      //width: 85%;
      width: calc(100% - 60px);
      margin: 0 auto;
      border: 2px solid #0b1138;
      border-radius: 5px;

      .edit {
        margin: 8px 6px 5px 10px;
        height: 27px;
      }
      .kid-name {
        width: calc(100% - (43px + 85px));
        padding-top: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        font-family: American;
        color: #fff;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-shadow: 1px 1px 1px #0b1138, 0 0 1px #0b1138;
      }
    }
  }

  .kid-color-0 {
    background: url("../img/payment/kid-color-0.png") no-repeat center;
    background-size: 140%;
  }
  .kid-color-1 {
    background: url("../img/payment/kid-color-1.png") no-repeat center;
    background-size: 140%;
  }
  .kid-color-2 {
    background: url("../img/payment/kid-color-2.png") no-repeat center;
    background-size: 140%;
  }
  .kid-color-3 {
    background: url("../img/payment/kid-color-3.png") no-repeat center;
    background-size: 140%;
  }
  .kid-color-4 {
    background: url("../img/payment/kid-color-4.png") no-repeat center;
    background-size: 140%;
  }
  .kid-color-5 {
    background: url("../img/payment/kid-color-5.png") no-repeat center;
    background-size: 140%;
  }

  //.kid-color-0 { background-color: rgb(255, 115, 0); }
  //.kid-color-1 { background-color: rgb(255, 210, 0); }
  //.kid-color-2 { background-color: rgb(186, 0, 255); }
  //.kid-color-3 { background-color: rgb(255, 27, 79); }
  //.kid-color-4 { background-color: rgb(0, 79, 255); }
  //.kid-color-5 { background-color: rgb(47, 188, 9); }
  .kid-color-overflow { background-color: darkslategrey; }

  .another-kid {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    .add-img {
      height: 86px;
    }
  }

  .price-block {
    width: 100%;
    text-align: center;
    margin-top: 4px;
    .price {
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      font-family: American;
      color: #0b1138;
      font-weight: 900;
      line-height: 38px;
    }
    .count {
      font-size: 38px;
    }
  }
}
