<ion-view class="parent-payments">
    <ion-content>
        <div class="menu-block" ng-click="vm.toMenu()">
            <img src="./img/kid-chat-room/back-arrow.png">
            <p>payments</p>
        </div>
        <div class="main-block">
          <div class="common-block">

            <div class="info-block">
              <div class="payment-block" ng-repeat="pay in vm.pay">
                <p class="price">{{pay.priceAsDecimal}} {{pay.currency}}</p>
                <p class="kids">{{pay.number_kids}} kids</p>
                <div class="date">
                  <p class="pay-date">{{vm.dateConverter(pay.created_at)}}</p>
                  <p class="invoice">invoice <img src="./img/kid-chat/arrow-to-chat.png" class="arrow"></p>
                </div>
              </div>

            </div>

            <!--<div class="creditcard-block">-->
              <!--<div class="change" ng-click="vm.receipt()"><p>get receipt</p></div>-->
            <!--</div>-->

          </div>
        </div>
    </ion-content>
</ion-view>
