.settings {
  .menu-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: solid 2px #0b1138;
    img {
      width: 15px;
      margin-left: 9px;
      margin-top: 24px;
    }
    p {
      margin: 20px auto 0;
      font-size: 25px;
      text-transform: uppercase;
      color: #0b1138;
      font-family: American;
    }
  }
  .main-block {
    background: url('../img/kid-chat-room/background.png') no-repeat center / cover;
    min-height: calc(100vh - 72px);
    width: 100vw;
    position: relative;
    img{
      width: 30px;
      margin-right: 10px;
    }
    .content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100vw;
    }
    .menu-point{
      width: 92%;
      padding-top: 37px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .menu-point:first-child {
      padding-top: 29px;
    }
    p{
      color:#0b1138 ;
      text-transform: uppercase;
      font-family: AmericanPatrius;
      font-size:16px;
    }
    .gears {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: -10px;
      //width: 215px;
      width: 29.2vh;
    }
  }
}

.country-modal {
  .country-filter {
    height: 40px;
    width: 95%;
    border: 1px solid #0b1138;
    font-size: 18px;
    padding: 0 14px;
    margin: 12vh 10px 10px 10px;
  }
  .codes-block {
    width: 100%;
    height: calc(100vh - 20vh);
  }
}
