<ion-view class="settings" id="settings">
    <ion-content>
        <div class="menu-block" ng-click="vm.toMenu()">
            <img src="./img/kid-chat-room/back-arrow.png">
            <p ng-if="vm.settings">{{vm.settings}}</p>
        </div>
        <div class="main-block">
          <div class="content" id="content">
            <div class="menu-point" ng-click="vm.toNotifications()" ng-if="vm.access()">
              <p>notifications</p>
              <img src="./img/kid-chat/arrow-to-chat.png">
            </div>
            <div class="menu-point" ng-click="vm.toTutorial()">
              <p>tutorial</p>
              <img src="./img/kid-chat/arrow-to-chat.png">
            </div>
            <div class="menu-point" ng-click="vm.toProfile()" ng-if="vm.access()">
              <p>profile</p>
              <img src="./img/kid-chat/arrow-to-chat.png">
            </div>
            <div class="menu-point" ng-click="vm.toKid()" ng-if="vm.access()">
              <p>add kid</p>
              <img src="./img/kid-chat/arrow-to-chat.png">
            </div>
            <div class="menu-point" ng-click="vm.addParent()" ng-if="vm.access()">
              <p>add parent</p>
              <img src="./img/kid-chat/arrow-to-chat.png">
            </div>
            <div class="menu-point" ng-click="vm.toTC()">
              <p>terms & conditions</p>
              <img src="./img/kid-chat/arrow-to-chat.png">
            </div>
          </div>

          <img src="./img/settings/gears.png" class="gears">
        </div>
    </ion-content>
</ion-view>

<!--<script id="tutorial-modal" type="text/ng-template">-->
  <!--<ion-modal-view class="tutorial-modal">-->
    <!--<ion-content>-->

      <!--<img src="./img/tutorial/close.png" class="close-tutorial-modal"-->
          <!--ng-click="vm.closeTutorial()">-->

      <!--<ion-slides options="sliderData.sliderOptions" slider="sliderData.sliderDelegate">-->
        <!--<ion-slide-page>-->
          <!--<div class="slider-main-block">-->
            <!--<div>-->
              <!--<p class="tutorial-header">search</p>-->
              <!--<p class="tutorial-content">-->
                <!--Try using the search field in the navigation-->
                <!--bar to find the content you are looking for.-->
                <!--Type in software, skills, or other keywords-->
                <!--directly into the search field and browse-->
                <!--through the results to find the content-->
                <!--you are looking for.-->
              <!--</p>-->
            <!--</div>-->
            <!--<img src="./img/tutorial/phone.png" class="tutorial-img">-->
          <!--</div>-->
        <!--</ion-slide-page>-->

        <!--<ion-slide-page>-->
          <!--<div class="slider-main-block">-->
            <!--<div>-->
              <!--<p class="tutorial-header">slider 2</p>-->
              <!--&lt;!&ndash;<p class="tutorial-content">&ndash;&gt;-->
                <!--&lt;!&ndash;Try using the search field in the navigation&ndash;&gt;-->
                <!--&lt;!&ndash;bar to find the content you are looking for.&ndash;&gt;-->
                <!--&lt;!&ndash;Type in software, skills, or other keywords&ndash;&gt;-->
                <!--&lt;!&ndash;directly into the search field and browse&ndash;&gt;-->
                <!--&lt;!&ndash;through the results to find the content&ndash;&gt;-->
                <!--&lt;!&ndash;you are looking for.&ndash;&gt;-->
              <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;<img src="./img/tutorial/phone.png" class="tutorial-img">&ndash;&gt;-->
          <!--</div>-->
        <!--</ion-slide-page>-->

        <!--<ion-slide-page>-->
          <!--<div class="slider-main-block">-->
            <!--<div>-->
              <!--<p class="tutorial-header">slider 3</p>-->
              <!--&lt;!&ndash;<p class="tutorial-content">&ndash;&gt;-->
                <!--&lt;!&ndash;Try using the search field in the navigation&ndash;&gt;-->
                <!--&lt;!&ndash;bar to find the content you are looking for.&ndash;&gt;-->
                <!--&lt;!&ndash;Type in software, skills, or other keywords&ndash;&gt;-->
                <!--&lt;!&ndash;directly into the search field and browse&ndash;&gt;-->
                <!--&lt;!&ndash;through the results to find the content&ndash;&gt;-->
                <!--&lt;!&ndash;you are looking for.&ndash;&gt;-->
              <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;<img src="./img/tutorial/phone.png" class="tutorial-img">&ndash;&gt;-->
          <!--</div>-->
        <!--</ion-slide-page>-->

    <!--</ion-content>-->
  <!--</ion-modal-view>-->
<!--</script>-->
