@font-face {
  font-family: "American";
  src: url("../../css/fonts/American Captain.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Neue";
  src: url("../../css/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Patrius";
  src: url("../../css/fonts/American Captain Patrius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Spring";
  src: url("../../css/fonts/Lazy Spring Day.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.kid-chat-room {
  height: 100vh;
  width: 100vw;

  .menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: solid 2px #0b1138;
    .dialog{
      z-index: 1;
      text-align: center;
      position: absolute;
      line-height: 30px;
      width: 100px;
      padding: 10px 0 10px 0;
      right: 42px;
      top: 50px;
      border: solid 1px #0b1138;
      border-radius: 10px 0 10px 10px;
      background-color: #fff;
      p{
        margin: 0;
        text-decoration: underline;
        font-family:Patrius;
        font-size:12px;
      }
    }
    img {
      width: 35px;
      //width: 15px;
      margin-left: 9px;
      padding: 10px;
    }
    p {
      margin: 0 0 0 18px;
      font-size: 25px;
      text-transform: uppercase;
      color: #0b1138;
      font-family: American;
    }
    .icon-menu{
      margin-right: 9px;
      width: 60px;
    }
  }
  .main-block{
    background: url('../img/kid-chat-room/background.png') no-repeat center / cover;
    height: calc(100vh - 172px);
    overflow: auto;
    position: relative;
    .load {
      margin-top: 10px;
      color: #0b1138;
      z-index: 1;
      position: fixed;
      left: calc(50% - 33px);
      right: auto;
      background-color: #59abbe;
      font-size: 14px;
      padding: 10px;
      border-radius: 25px;
      font-family: AmericanPatrius;
    }
    .other-message{
      width: 70%;
      margin-left: 10px;
      margin-bottom: 10px;
      .my-message{
        p{
          font-family: Neue;
          border-radius: 10px 0 10px 10px;
          background-color: #fff;
          padding: 10px ;
        }
      }
      .message-time{
        p{
          font-size: 12px;
          margin: 0;
          font-family:Patrius;
        }
      }
    }
    .my-message-block{
      width: 70%;
      margin-left: auto;
      margin-right: 10px;
      margin-bottom: 10px;
      .my-message{
        p{
          font-family: Neue;
          border-radius: 10px 0 10px 10px;
          background-color: #64cae2;
          padding: 10px 0 10px 10px;
        }
      }
      .message-time{
        text-align: right;
        p{
          font-size: 12px;
          margin: 0;
          font-family:Patrius;
        }
      }
    }
    .day{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      p{
        font-size:10px;
        font-family:Patrius;
        color: #fff;
        text-transform: uppercase;
        padding: 7px;
        -webkit-clip-path: polygon(0 10%,100% 0,97% 75%,10% 100%);
        background-color: #0b1138;
      }
    }
  }
  .input-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px #64cae2;
    height: 100px;
    box-sizing: border-box;
    .input-and-message{
      display: inline-flex;
      align-items: center;
      width: 95%;
    input{
      height: 45px;
      width: 86%;
      border: solid 1px #64cae2;
      border-radius: 30px;
      padding: 0 10px;
    }
      ::-webkit-input-placeholder {
        font-size:17px;
        font-family: Spring;
        padding-left: 15px;
        color: #cdced2;
      }
      ::-moz-placeholder {
        font-size:17px;
        font-family: Spring;
        padding-left: 15px;
        color: #cdced2;
      }
      :-ms-input-placeholder {
        font-size:17px;
        font-family: Spring;
        padding-left: 15px;
        color: #cdced2;
      }
      :-moz-placeholder {
        font-size:17px;
        font-family: Spring;
        padding-left: 15px;
        color: #cdced2;
      }
      img{
        margin-left: auto;
        height: 40px;
      }
    }
  }

  .locked-block {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #0b1138;
    height: 100px;
    box-sizing: border-box;
    padding: 15px;
    font-family: American;

    .locked-user {
      display: flex;

      img{
        height: 40px;
        margin-top: 9px;
      }
      span {
        margin: 26px 0 0 11px;
        font-size: 15px;
        color: #0b1138;
        font-family: AmericanPatrius;
      }
    }
    .unlock {
      border: solid 2px #0b1138;
      border-radius: 35px;
      color: #0b1138;
      font-size: 33px;
      padding: 22px 24px 26px;
    }
  }
}
@media screen and (min-width: 767px){
  .kid-chat-room{
    .menu-block {
      .dialog{
        right: 59px;
        top: 59px;
        line-height: 48px;
        width: 200px;
          p{
            font-size: 25px;
          }
      }
      p{
        font-size: 40px;
      }
      img{
        width: 30px;
      }
      .icon-menu{
        width: 60px;
      }
    }
    .main-block{
      .day{
        p{
          font-size: 25px;
          padding: 17px;
        }
      }
      .other-message{
        .my-message{
          p{
            line-height: 30px;
            font-size: 25px;
          }
        }
        .message-time{
          p{
            font-size: 20px;
          }
        }
      }
      .my-message-block {
        .message-time{
          p{
            font-size: 20px;
          }
        }
        .my-message {
          p{
            line-height: 30px;
            font-size: 25px;
          }
        }
      }
    }
    .input-block{
      .input-and-message{
        input{
          height: 60px;
        }
        ::-webkit-input-placeholder {
          font-size:25px;
          font-family: Spring;
          padding-left: 15px;
          color: #cdced2;
        }
        ::-moz-placeholder {
          font-size:25px;
          font-family: Spring;
          padding-left: 15px;
          color: #cdced2;
        }
        :-ms-input-placeholder {
          font-size:25px;
          font-family: Spring;
          padding-left: 15px;
          color: #cdced2;
        }
        :-moz-placeholder {
          font-size:25px;
          font-family: Spring;
          padding-left: 15px;
          color: #cdced2;
        }
        img{
          height: 60px;
        }
      }
    }
  }
}
@media (min-height: 360px){
  .kid-chat-room .locked-block .locked-user span {
    font-size: 13px;
  }
  .kid-chat-room .locked-block .unlock {
    padding: 22px 16px 26px;
  }
}



.report-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
}
.report-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 91%!important;
  max-width: 360px;
  margin: auto;
  //height: fit-content;
  height: min-content;
  min-height: 5px!important;
  //background-color: #fff;
  border: 2px solid #0b1138;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0) !important;

  .main-block-report {
    position: relative;
    //height: 235px;
    height: auto;
    width: 100%;
    background: url('../img/kid-chat/modal-background.png') no-repeat center / cover;
    background-size: 103% 103%;

    .cancel-report {
      position: absolute;
      top: 8px;
      right: 13px;
      height: 25px;
    }

    .reason-block {
      padding: 15px 0 10px;
      margin: 0 auto;
      width: 190px;
    }

    .title-report {
      font-family: American;
      font-size: 25px;
      margin-top: 4px;
    }

    .reasons-report {
      height: auto;
      box-sizing: border-box;
    }
    .reason-report {
      font-family: AmericanPatrius;
      margin: 12px 0;
      display: flex;
      img{
        height: 15px;
        //margin-top: 2px;
      }
      p {
        margin: 0 0 0 10px;
        font-size: 13px;
      }
    }
    .send-report {
      padding: 8px 21px 8px;
      margin: 0 auto 0;
      border: 2px solid #0b1138;
      border-radius: 21px;
      font-family: American;
      font-size: 21px;
      //width: fit-content;
      width: min-content;
      background-color: white;
    }

    .report-textarea-block {
      width: 100%;
      padding: 10px;
      border-top: 2px solid #0b1138;
      background-color: white;

      textarea {
        border: 2px solid #b9f2fe;
        border-radius: 10px;
        width: 100%;
        font-family: Neue;
        color: #0b1138;
        padding: 5px;
      }
    }
  }

}
