<ion-view class="kid-chat-room">
  <ion-content>
    <div class="menu-block">

      <img src="./img/kid-chat-room/back-arrow.png" ng-click="vm.toMessages()">
      <p ng-if="vm.consultantName" ng-click="vm.toMessages()">
        {{vm.consultantName}}
      </p>
      <img src="./img/kid-chat-room/icon.png" class="icon-menu" ng-click="vm.blockButton()">

      <div class="dialog" ng-if="vm.reportMenu">
        <p ng-click="vm.report()">report</p>
        <p ng-click="vm.block()">block</p>
      </div>
    </div>
    <div class="main-block" id="chat">
      <div class="load" ng-if="vm.loadMoreMessages">
        <span>Loading</span>
      </div>

      <div ng-repeat="(key, message) in vm.messages track by $index">
        <div class="day" ng-if="vm.dateHeader($index)">
          <p>{{vm.dateConverter(message.date)}}</p>
          <!--<p>{{vm.date | date : "dd MMMM yyyy"}}</p>-->
        </div>
        <div ng-class="vm.ownMessage(key) ? 'my-message-block' : 'other-message' ">
          <div class="message-time" ng-if="vm.timeHeader($index)">
            <p>{{vm.timeConverter(message.date)}}</p>
          </div>
          <div class="my-message">
            <p>{{message.text}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="input-block" ng-if="vm.blocked === true">
      <div class="input-and-message">
        <input type="text" placeholder="Message" ng-model="vm.message_input"
               ng-focus="vm.focusedInput()"
               ng-blur="vm.unfocusedInput()"
        >
        <img src="./img/kid-chat-room/enter-message.png" ng-click="vm.sendMessage()">
      </div>
    </div>

    <div class="locked-block" ng-if="vm.blocked === false && vm.blocked !== null">
      <div class="locked-user">
        <img src="./img/kid-chat/locker.png">
        <span>user is blocked</span>
      </div>
      <div class="unlock" ng-click="vm.unblock()"> unlock </div>
    </div>
  </ion-content>
</ion-view>

<script id="report-modal" type="text/ng-template">
  <div class="report-backdrop" ng-click="reportModal.hide()"></div>
  <ion-modal-view class="report-modal">

    <div class="main-block-report">
      <img src="./img/kid-chat/cancel.png"  class="cancel-report"
           ng-click="reportModal.hide()">

      <div class="reason-block">
        <div class="title-report">choose report reason</div>
        <div class="reasons-report">
          <div ng-repeat="(key, reason) in vm.reportReasonList" ng-click="vm.selectedReason(key)"
               class="reason-report">
            <img src="./img/kid-chat/checked.png" ng-if="vm.checked(key)">
            <img src="./img/kid-chat/unchecked.png" ng-if="!vm.checked(key)">
            <p>{{reason.name}}</p>
          </div>

          <div ng-click="vm.selectedReason('other')" class="reason-report">
            <img src="./img/kid-chat/checked.png" ng-if="vm.checked('other')">
            <img src="./img/kid-chat/unchecked.png" ng-if="!vm.checked('other')">
            <p>other reason</p>
          </div>
        </div>
        <div class="send-report" ng-click="vm.sendReport()">
          send
        </div>
      </div>

      <div ng-if="vm.reportTextField()" class="report-textarea-block">
        <textarea ng-model="vm.reportTextValue" rows="6" maxlength="256"></textarea>
      </div>
    </div>

  </ion-modal-view>
</script>
