<ion-view class="additional-content">
  <ion-content>

    <div class="main-block">

      <div class="header">
        <img src="./img/additional-content/back-arrow.png" class="tool-bar-back" ng-click="vm.toAdditionalContent()">
        <span>favorites</span>
      </div>

      <div class="favorites-main-block">

        <div class="favorites-list">

          <div ng-repeat="(key, live_event) in vm.favorites" class="event-block">
            <div class="event-description">
              <p class="event-title">{{live_event.title}}</p>
              <p class="event-live">{{live_event.status}}</p>
            </div>
            <img src="./img/additional-content/1.png" class="event-bg" ng-if="key === 0">
            <img src="./img/additional-content/2.png" class="event-bg" ng-if="key > 0">
            <img src="./img/additional-content/add-to-favorite.png" class="to-favorite"
                 ng-if="!vm.followingStatus(live_event)" ng-click="vm.changeFollowingStatus(live_event, key)">
            <img src="./img/additional-content/remove-from-favorite.png" class="to-favorite"
                 ng-if="vm.followingStatus(live_event)" ng-click="vm.changeFollowingStatus(live_event, key)">
            <img src="./img/additional-content/play.png" class="play" ng-if="vm.watchButton(live_event.status)">
          </div>

        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
