.payment-warning {

  .popup {
    width: 300px!important;
    //height: 206px;
    border-radius: 5px!important;
  }

  .popup-head {
    display: none;
  }

  .popup-title {

  }

  .popup-sub-title {

  }

  .popup-body {
    padding: 0;
  }

  .popup-buttons.row {

  }

  .popup-buttons .button {

  }

  .main-block {
    background: url('../img/kid/modal/dots.png') center no-repeat;
    background-size: 140%;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0!important;
    border: 2px solid #0a184c;
    border-radius: 5px;

    .data-block {
      width: 100%;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 27px;

      .warning-line {
        display: flex;
        width: fit-content;
        margin: 0 auto;

        .warning-ico {
          height: 24px;
          margin-right: 10px;
          margin-top: -6px;
        }
      }
    }
    .title-km {
      display: block;
      text-align: center;
      font-size: 17px;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 0.7px;
      font-family: AmericanPatrius;
    }

    .close {
      height: 80px;
      margin: 0 auto;
    }
  }
}
