@font-face {
  font-family: "American";
  src: url("../../css/fonts/American Captain.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Neue";
  src: url("../../css/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Patrius";
  src: url("../../css/fonts/American Captain Patrius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Spring";
  src: url("../../css/fonts/Lazy Spring Day.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
p{
  margin: 0;
}
.psy-logs {
  background: url('../../img/logs/bg.png') no-repeat top / cover;
  .menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    margin-bottom: 25px;
    background-color: #fff;
    border-bottom: solid 2px #0b1138;
    .dialog{
      z-index: 1;
      text-align: center;
      position: absolute;
      line-height: 30px;
      width: 100px;
      padding: 10px 0 10px 0;
      right: 42px;
      top: 50px;
      border: solid 1px #0b1138;
      border-radius: 10px 0 10px 10px;
      background-color: #fff;
      p{
        margin: 0;
        text-decoration: underline;
        font-family:Patrius;
        font-size:12px;
      }
    }
    img {
      width: 15px;
      margin-left: 9px;
    }
    p {
      margin: 0 0 0 18px;
      font-size: 25px;
      text-transform: uppercase;
      color: #0b1138;
      font-family: American;
    }
    .icon-menu{
      margin-right: 9px;
      width: 30px;
    }
  }
  .main-block{
    height:100vh;
    .miss-call{
      background: url('../../img/logs/second-dots.png') no-repeat right/ cover #fff;
      border-radius: 5px;
      width: 95%;
      height: 145px;
      margin:auto;
      border: solid 1px #0b1138;
      .title-date{
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-bottom: solid 2px #0b1138;
        border-radius: 6px;
        background: url('../../img/logs/dots.png') no-repeat right/ cover #ffae00;
        p{
          font-family:American;
          font-size: 28px;
          color: #FFFFFF;
        }
        .date{
          text-align: center;
          font-family:Patrius;
          color: #0b1138;
          font-size: 12px;
        }
      }
      .message-block{
        display: inline-flex;
        width: 100%;
        height: 93px;
        img{
          align-self: flex-end;
          width: 40px;
          margin-bottom: 5px;
        }
        p{
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 70px;
          font-family:Neue;
          font-size:17px;
          padding: 10px 0 0 10px;
          width: 87%;
        }
      }
    }
    .call-kid{
      background: url('../../img/logs/second-dots.png') no-repeat right/ cover #fff;
      border-radius: 5px;
      width: 95%;
      height: 145px;
      margin:15px auto;
      border: solid 1px #0b1138;
      .title-date{
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-bottom: solid 2px #0b1138;
        border-radius: 6px;
        background: url('../../img/logs/third-dots.png') no-repeat right/ cover #bf1340;
        p{
          font-family:American;
          font-size: 28px;
          color: #FFFFFF;
        }
        .date{
          display: inline-flex;
          align-items: center;
          font-family:Patrius;
          text-align: center;
          color: #fff;
          font-size: 12px;
          img{
            height:30px;
            margin-right: 10px;
          }
        }
      }
      .message-block{
        display: inline-flex;
        align-items: flex-start;
        width: 100%;
        height: 93px;
        .call-the-kid{
          margin-top: 13px;
          padding-left: 10px;
          display: inline-flex;
          align-items: center;
          width: 50%;
          img{
            width: 30px;;
          }
          p{

            text-transform: uppercase;
            font-family:Patrius;
            font-size:16px;
            color: #0b1138;
            padding: 0 0 0 10px;
            width: 100%;
          }
        }
        img{
          align-self: flex-end;
          width: 40px;
          margin-bottom: 5px;
        }
        p{
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-top: 5px;
          color: #c2687f;
          font-family:Neue;
          font-size:17px;
          width: 37%;
        }
      }
    }
    .call-right-now{
      background: url('../../img/logs/second-dots.png') no-repeat right/ cover #fff;
      border-radius: 5px;
      width: 95%;
      height: 145px;
      margin:15px auto;
      border: solid 1px #0b1138;
      .title-date{
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-bottom: solid 2px #0b1138;
        border-radius: 6px;
        background: url('../../img/logs/fourth-dots.png') no-repeat right/ cover #2fbc09;
        p{
          font-family:American;
          font-size: 28px;
          color: #FFFFFF;
        }
        .date{
          display: inline-flex;
          align-items: center;
          font-family:Patrius;
          text-align: center;
          color: #000;
          font-size: 13px;
          img{
            height:30px;
            margin-right: 10px;
          }
        }
      }
      .message-block{
        display: inline-flex;
        align-items: flex-start;
        width: 100%;
        height: 93px;
        .call-the-kid{
          margin-top: 13px;
          padding-left: 10px;
          display: inline-flex;
          align-items: center;
          width: 50%;
          img{
            width: 30px;;
          }
          p{
            text-transform: uppercase;
            font-family:Patrius;
            font-size:16px;
            color: #0b1138;
            padding: 0 0 0 10px;
            width: 100%;

          }
        }
        img{
          align-self: flex-end;
          width: 40px;
          margin-bottom: 5px;
        }
        p{
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 70px;
          font-family:Neue;
          font-size:17px;
          padding: 10px 0 0 10px;
          width: 87%;
        }
      }
    }
  }
}



