<ion-view class="registration">
  <ion-content>

    <div class="main-block">

      <div class="title" ng-if="vm.newUser">
        <span>new user</span>
      </div>

      <div class="title" ng-if="!vm.newUser">
        <span>my profile</span>
      </div>

      <div class="name" >
        <input class="input" type="text" ng-model="vm.name"
               ng-class="{'warning': vm.warning.name}">
        <img src="../../img/registration/name.png" class="name-img">
        <p class="tooltip">full name</p>
      </div>

      <div class="email">
        <input class="input" type="email" ng-model="vm.email"
               ng-class="{'warning': vm.warning.email}">
        <img src="../../img/registration/email.png" class="email-img">
        <p class="tooltip">email address</p>
      </div>

      <div class="id">
        <input class="input"
               type="number"
               ng-model="vm.id_number"
               oninput="this.value = this.value.replace(/\D/, '')"
               ng-class="{'warning': vm.warning.id}">

        <img src="../../img/registration/id.png" class="id-img">
        <p class="tooltip">id number</p>
      </div>

      <div class="save" ng-click="vm.save()">save</div>
      <!--<div class="save" ng-click="testModal.show()">modal</div>-->

    </div>
  </ion-content>
</ion-view>

<script id="test-modal" type="text/ng-template">
  <ion-modal-view class="test-modal">

    <ion-header-bar class="bar bar-header bar-energized" ng-click="testModal.hide()">
      <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
      <h1 class="title">Test Modal</h1>
    </ion-header-bar>

    <ion-content class="padding">
      <h3>Lorem ipsus</h3>
      <button>button</button>
    </ion-content>

  </ion-modal-view>
</script>
