<ion-view class="test">
    <ion-pane>

      <h4>Realtime communication with WebRTC</h4>

      <div class="button-block">
        <button class="md-primary md-raised" id="startButton">start</button>
        <button class="md-primary md-raised" id="callButton">call</button>
        <button class="md-primary md-raised" id="hangupButton">hang up</button>
        <button class="md-primary md-raised" id="stopButton">stop</button>
      </div>

      <div class="video-container">
        <video id="localVideo" autoplay playsinline></video>
        <video id="remoteVideo" autoplay playsinline></video>
      </div>

    </ion-pane>
</ion-view>
