<ion-view class="test">
    <ion-content>
      <div class="parent" id="parent">
        <div class="content" id="content">
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>4</p>
          <p>5</p>
          <p>6</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
        <img src="./img/notifications/bottom-picture.png" class="img">
      </div>
    </ion-content>
</ion-view>
