.test {
  font-family: AmericanPatrius;
  color: #0b1138;
  //position: relative;

  .button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
  }

  .video-container {
    text-align: center;
  }

  video {
    width: 320px;
    height: 240px;
    border: 1px solid #02458b;
    margin: 1px;
    background-color: black;
  }

}
