.test {
  .parent {
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: #0b1138;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    color: white;
  }
  .img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100px;
  }
}
