.kid {

    .main-block {
      height: auto;
      min-height: 100vh;
      width: 100vw;
      position: relative;
      padding-bottom: 10px;
    }
    .registered {
      background: url('../img/kid/regisered-kid-background.png') no-repeat center top #64cae2;
      background-size: cover;
      //background-color: #64cae2;
      padding-bottom: 9px;
    }
    .unregistered {
      background: url('../img/kid/unregisered-kid-background.png') no-repeat center top #64cae2;
      background-size: cover;
      //background-color: #64cae2;
    }
    .empty-header-big {
      height: 63px;
    }
    .empty-header-small {
      height: 43px;
    }

    .animation-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.6;
      z-index: 1;
    }

    .reg-header {
      background-color: #fff;
      border-bottom: 2px solid #0b1138;
      padding: 36px 0 15px;
      margin-bottom: -10px;
      position: absolute;
      z-index: 1;
      width: 100%;
    }
    .back_arrow {
      margin: 37px 0 0 11px;
      height: 23px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .kids-block {
      position: relative;
      width: 90%;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 23px;
      font-family: sans-serif;
      color: #000;
      font-weight: 900;
    }
    .kids-ico {
      font-size: 20px;
      font-weight: 600;
      border-radius: 20px;
      line-height: 40px;
      width: 40px;
      text-align: center;

    }
    .kid-display {
      display: -webkit-box
    }
    .kid-name-before {
      display: none;
    }
    .kid-name-after {
      font-size: 20px;
      font-weight: 600;
      line-height: 40px;
      width: 40px;
      text-align: center;
      text-transform: capitalize;
      opacity: 0;
      color: whitesmoke;

      animation-name: kid-name-after;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
    @keyframes kid-name-after {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    .kid-main-pos {
      position: absolute;
      right: 0;
    }

    .kid-before-position-0 { top: 0; z-index: 1; }
    .kid-after-position-0 { top: 0; z-index: 1; }

    .kid-before-position-1 { top: 15px; z-index: 2; }
    .kid-after-position-1 {
      top: 15px;
      z-index: 2;
      animation-name: position-1;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .kid-before-position-2 { top: 30px; z-index: 3; }
    .kid-after-position-2 {
      top: 30px;
      z-index: 3;
      animation-name: position-2;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .kid-before-position-3 { top: 45px; z-index: 3; }
    .kid-after-position-3 {
      top: 45px;
      z-index: 4;
      animation-name: position-3;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .kid-before-position-4 { top: 60px; z-index: 3; }
    .kid-after-position-4 {
      top: 60px;
      z-index: 4;
      animation-name: position-4;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    .kid-before-position-5 { top: 75px; z-index: 3; }
    .kid-after-position-5 {
      top: 75px;
      z-index: 3;
      animation-name: position-5;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    @keyframes position-1 {
      from {top: 15px;}
      to {top: 45px;}
    }
    @keyframes position-2 {
      from {top: 30px;}
      to {top: 90px;}
    }
    @keyframes position-3 {
      from {top: 45px;}
      to {top: 135px;}
    }
    @keyframes position-4 {
      from {top: 60px;}
      to {top: 180px;}
    }
    @keyframes position-5 {
      from {top: 75px;}
      to {top: 225px;}
    }

    .kid-color-0 { background-color: rgb(255, 115, 0); }
    .kid-color-1 { background-color: rgb(255, 210, 0); }
    .kid-color-2 { background-color: rgb(186, 0, 255); }
    .kid-color-3 { background-color: rgb(255, 27, 79); }
    .kid-color-4 { background-color: rgb(0, 79, 255); }
    .kid-color-5 { background-color: rgb(47, 188, 9); }
    .kid-color-overflow { background-color: darkslategrey; }

    .title {
      text-transform: uppercase;
      text-align: center;
      font-size: 23px;
      color: #0b1138;
      font-weight: 900;
      font-family: American;
    }

    .tooltip {
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      color: #0b1138;
      font-weight: 500;
      margin-top: 2px;
      font-family: AmericanPatrius;
    }

    .new-kid-title {
      font-family: American;
      font-size: 31px;
      font-weight: 500;
    }
    .data-block {
      width: 100vw;
      padding: 0 10px 0 40px;
      margin-top: 80px;
    }

    .name {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 60px;

      .name-img {
        position: absolute;
        height: 121px;
        top: -71px;
        left: -33px;
      }
    }
    .birth-date {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 26px;

      .date-label {
        height: 49px;
        width:100%;
        display: inline-block;
        text-transform: uppercase;
        text-align: left;
        font-size: 22px;
        background-color: #fff;
        color: #0b1138;
        font-weight: 600;
        line-height: 46px;
        border: 2px solid #0b1138;
        border-radius: 5px;
        margin: 0 auto;
        padding-left: 75px;
      }
      .hidden-date-input {
        visibility: hidden!important;
        height: 0;
        padding: 0;
      }
      .birth-img {
        position: absolute;
        height: 119px;
        top: -40px;
        left: -36px;
      }
    }
    .id {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 26px;

      .id-img {
        position: absolute;
        height: 86px;
        top: -19px;
        left: -31px;
      }
    }
    .grade {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 23px;

      .grade-img {
        position: absolute;
        height: 94px;
        top: -23px;
        left: -31px;
      }
    }
    .phone {
      margin-top: 25px;
      padding: 0 10px;

      .input-block {
        position: relative;
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
        background-color: #fff;
        color: #0b1138;
        font-weight: 600;
        height: 48px;
        width: 100%;
        line-height: 46px;
        border: 2px solid #0b1138;
        border-radius: 5px;
        margin: 0 auto;
        //font-family: HelveticaNeueCyr;

      }
      .phone-ico {
        height: 1.1em;
        position: absolute;
        left: 10px;
        top: 10px;
      }
      .country-and-phone {
        margin: 0 auto;
        //width: 200px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
      }
      .country-select {
        height: 100%;
        //width: 30%;
        width: calc(45% - 40px);
        margin-left: 40px;
        text-align: right;
      }

      .phone {
        height: 100%;
        width: 60%;
        margin-right: 5px;
        text-align: left;
      }
      .input-phone {
        color: #0b1138;
        margin-left: 7px;
        font-size: 22px;
        font-weight: 600;
        height: 100%;
        //width: 100%;
        width: 65%;
        text-align: left;
      }

      .tooltip {
        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        color: #0b1138;
        font-weight: 500;
        margin-top: 4px;
      }
    }

    .add-remove-kid {
      width: 100%;
      text-align: center;

      .add-remove-kid-img {
        height: 85px;
      }
    }

    .input-kid {
      padding-left: 75px;
      font-size: 22px;
      font-weight: 600;
      width: 100%;
      height: 49px;
      border: 2px solid #0b1138;
      border-radius: 5px;
      display: unset;
      //font-family: HelveticaNeueCyr;
    }

    .continue-save-button {
      text-transform: uppercase;
      text-align: center;
      font-size: 22px;
      color: #fff;
      font-weight: 700;
      width: 95%;
      line-height: 46px;
      border: 2px solid #0b1138;
      border-radius: 5px;
      margin: 9px auto 0;
      //background-color: #ff7300;
    }
    .continue-button {
      background: url('../img/kid/continue.png') center no-repeat;
      background-size: 140%;

    }
    .save-button {
      background: url('../img/kid/save.png') center no-repeat;
      background-size: 140%;

    }

    .reg-followers {
      margin-top: 64px;
      height: auto;
      width: 100%;

      .title {
        font-size: 31px;
        font-weight: 500;
        //font-family: American;
      }

      .followers {
        margin: 28px auto 0;
        padding: 14px 0 0 60px;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        width: 81%;
        height: 49px;
        background-color: #fff;
        border: 2px solid #0b1138;
        border-radius: 5px;
        font-family: HelveticaNeueCyr;
        text-align: left;

        .follower-img {
          position: absolute;
          top: -54px;
          left: -31px;
          height: 102px;
        }
        .follower-remove {
          position: absolute;
          top: -23px;
          right: -62px;
          height: 83px;
        }
      }

      .follower-margin {
        margin: 60px auto 0;
      }

      .add-follower {
        text-align: center;

        .add-follower-button {
          margin-top: 20px;
          height: 86px;
        }
      }

      .access-panel {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 95%;
        height: 80px;
        margin: 29px auto 0;
        font-size: 20px;
        font-weight: 600;

        .block-access {
          width: 100%;
          height: 100%;
          display: flex;
          border: 2px solid #0b1138;
          border-radius: 5px;
          background: url('../img/kid/block-reg-kid.png') center no-repeat;
          background-size: 140%;

          .block-access-img {
            height: 54px;
            margin: 10px 0 0 26px;

          }
        }

        .block-tile {
          color: white;
          font-size: 18px;
          line-height: 0;
          text-transform: uppercase;
          font-family: AmericanPatrius;
          font-weight: 100;
          display: grid;
        }

        .block {
          padding-top: 26px;
          width: 80%;
        }
        .grant {
          padding-top: 26px;
          width: 80%;
        }
        .remove {
          padding-top: 41px;
          width: 80%;
        }

        .access-remove {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .grant-access {
            display: flex;
            height: 100%;
            width: calc(50% - 4px);
            border: 2px solid #0b1138;
            border-radius: 5px;
            background: url('../img/kid/access-reg-kid.png') center no-repeat;
            background-size: 140%;

            .grant-access-img {
              height: 53px;
              margin: 12px 0 0 13px;
            }
          }
          .remove-from-app {
            display: flex;
            height: 100%;
            width: calc(50% - 4px);
            border: 2px solid #0b1138;
            border-radius: 5px;
            background: url('../img/kid/rem-reg-kid.png') center no-repeat;
            background-size: 140%;

            .remove-from-app-img {
              height: 53px;
              margin: 12px 0 0 13px;
            }
          }
        }

      }
    }


    .warning {
      border: 2px solid red !important;
    }

    @media (max-height: 500px) {
      .main-block {
        //height: 100%;
      }
      .continue {
        margin-bottom: 15px;
      }
      .input {
        padding-left: 8%;
      }

    }
}

.kid-backdrop {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
}

.country-modal {
  .country-filter {
    height: 40px;
    width: 100%;
    border: 1px solid #0b1138;
    font-size: 18px;
    padding: 0 14px;
    margin-bottom: 10px;
  }
  .codes-block {
    width: 100%;
    height: calc(100vh - 94px);
    overflow: scroll;
  }
}

.kids-exist-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 390px !important;
  height: 208px !important;
  min-height: 50px !important;
  z-index: 2;
  background-color: #00000000 !important;

  .match-main-block {
    background: url('../img/kid/modal/dots.png') center no-repeat;
    background-size: 140%;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0!important;
    border: 2px solid #0a184c;
    border-radius: 5px;

    .warning-ico {
      height: 26px;
      margin-top: 8px;
    }
    .title-km {
      display: block;
      text-align: center;
      font-size: 25px;
      line-height: 13px;
      text-transform: uppercase;
      margin-top: 8px;
    }
    .button-km {
      margin: 23px auto 0;
      width: 93%;
      height: 48px;
      border: 1px solid #000;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      padding: 12px 11px;
      background-color: white;

      .mail-km {
        height: 23px;
      }
      .mail-title-km {
        font-size: 17px;
        text-transform: uppercase;
        margin-right: 23px;
      }
    }
    .cancel-km {
      text-align: center;
      text-transform: uppercase;
      font-size: 17px;
      text-decoration: underline;
      margin-top: 14px;
    }
  }
}

.kids-remove-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 390px !important;
  height: 195px !important;
  min-height: 50px !important;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;

  .remove-main-block {
    background: url('../img/kid/modal/dots.png') center no-repeat;
    background-size: 140%;
    width: 100%;
    height: 195px;
    text-align: center;
    margin: 0!important;
    border: 2px solid #0a184c;
    border-radius: 5px;
    overflow: hidden;

    .title-kr {
      display: grid;
      text-align: center;
      text-transform: uppercase;
      margin-top: 16px;
      color: #0a184c;
      font-family: AmericanPatrius;

      .question-kr {
        font-size: 19px;
      }
      .description-kr {
        margin-top: 8px;
        font-size: 13px;
      }
    }
    .button-block-kr {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .half-kr {
        width: 50%;
      }
      .yes-kr {
        height: 65px;
        margin-top: 23px;
      }
      .no-kr {
        height: 85px;
        margin-top: 12px;
      }
    }
    .cancel-km {
      text-align: center;
      text-transform: uppercase;
      font-size: 17px;
      text-decoration: underline;
      margin-top: 14px;
    }
  }
}

.add-follower-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 390px !important;
  height: 195px !important;
  min-height: 50px !important;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;

  .follower-main-block {
    background: url('../img/kid/modal/dots.png') center no-repeat;
    background-size: 140%;
    width: 100%;
    height: 195px;
    text-align: center;
    margin: 0!important;
    border: 2px solid #0a184c;
    border-radius: 5px;
    overflow: hidden;

    .title-f {
      display: grid;
      text-align: center;
      text-transform: uppercase;
      margin-top: 15px;
      color: #0a184c;
      font-family: AmericanPatrius;

      .question-f {
        font-size: 19px;
      }
    }

    .phone-block-f {
      width: 93%;
      border: 1px solid #0a184c;
      border-radius: 5px;
      margin: 6px auto 0;
      height: 50px;
      background-color: white;
      font-family: HelveticaNeueCyr;

      position: relative;
      text-transform: uppercase;
      text-align: center;
      font-size: 22px;
      color: #0b1138;
      font-weight: 500;
      line-height: 46px;

      .phone-ico-f {
        height: 1.1em;
        position: absolute;
        left: 10px;
        top: 10px;
      }
      .country-and-phone-f {
        margin: 0 auto;
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
      }
      .country-select-f {
        height: 100%;
        width: 30%;
        margin-left: 5px;
        margin-top: 1px;
        text-align: right;
      }

      .phone-f {
        height: 100%;
        width: 60%;
        margin-right: 5px;
        text-align: left;
      }
      .input-phone-f {
        margin-left: 7px;
        font-size: 22px;
        font-weight: 500;
        font-family: HelveticaNeueCyr;
        padding-top: 5px;
        height: 42px;
        width: 100%;
        text-align: left;
        margin-top: 1px;
      }
    }

    .button-block-f {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .half-f {
        width: 50%;
      }
      .invite-f {
        height: 83px;
        margin-top: 6px;
      }
      .cancel-f {
        height: 62px;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 390px) {
  .kids-exist-modal {
    width: 350px !important;

    .match-main-block {
      background-size: 115%;
      .button-km .mail-title-km {
        margin-right: 0;
      }
    }
  }

  .kids-remove-modal {
    width: 350px!important;
  }
  .add-follower-modal {
    width: 350px!important;
  }
}
@media (max-width: 350px) {
  .kids-exist-modal {
    width: 320px !important;

    .match-main-block {
      background-size: 127%;
      .button-km .mail-title-km {
        font-size: 16px;
      }
    }
  }
}
