<ion-view class="new-kid">
  <ion-content>

    <div class="main-block" ng-class="vm.viewType.edit_registered_kid ? 'registered' : 'unregistered'">

      <div class="reg-header title" ng-if="vm.viewType.edit_registered_kid" ng-click="vm.toMainPage()">
        <img src="../../img/kid/back_arrow.png" name="back_arrow" class="back_arrow">
        <span>{{vm.name}}</span>
      </div>

      <div class="empty-header"
           ng-class="!vm.viewType.edit_registered_kid ? 'empty-header-small' : 'empty-header-big'"></div>

      <div class="animation-backdrop" ng-if="vm.animation" ng-click="vm.closeList()"></div>

      <div class="kids-block" ng-if="vm.viewType.new_kid" ng-click="vm.openList()">
        <div ng-repeat="(key, kid) in vm.kids" ng-if="!kid.payment">

          <div ng-class="vm.animation ? vm.kidPosition(key) : vm.kidPosition(key, true)" class="kid-main-pos">

            <div class="kid-display" ng-click="vm.editKid(kid, key)">
              <span ng-if="vm.animation" class="kid-name-after">
                {{kid.name}} &nbsp;
              </span>

              <!--<div class="kids-ico" ng-class="'kid-color-' + key">-->
              <div class="kids-ico" ng-class="vm.kidColorAnimation(key)">
                <span>
                  {{kid.name.charAt(0).toUpperCase()}}
                </span>
              </div>
            </div>

          </div>

        </div>
        <!--<div>-->
        <span class="new-kid-title">new kid</span>
        <!--</div>-->
      </div>

      <div class="title" ng-if="vm.viewType.edit_unregistered_kid">
        <span>Edit kid</span>
      </div>


      <div class="data-block">
        <div class="name">
          <input class="input-kid" type="text" ng-model="vm.name"
                 ng-class="{'warning': vm.warning.name}">
          <img ng-src="./img/kid/kid.png" class="name-img">
          <p class="tooltip">kid name</p>
        </div>

        <div class="birth-data">
          <input class="input-kid" type="text" ng-model="vm.birth_date"
                 ng-class="{'warning': vm.warning.date}"
                 placeholder="yyyy-mm-dd">
          <img src="./img/kid/birth-data.png" class="birth-img">
          <p class="tooltip">birth date</p>
        </div>

        <div class="id">
          <input class="input-kid" type="number" ng-model="vm.id_number"
                 ng-class="{'warning': vm.warning.id_number}">
          <img src="./img/kid/id.png" class="id-img">
          <p class="tooltip">id number</p>
        </div>

        <div class="grade">
          <input class="input-kid" type="text" ng-model="vm.grade"
                 ng-class="{'warning': vm.warning.grade}">
          <img src="./img/kid/grade.png" class="grade-img">
          <p class="tooltip">grade</p>
        </div>

      </div>

      <div class="phone">

        <div class="input-block" ng-class="{'warning': vm.warning.phone}">
          <img src="./img/authorization/phone.png" class="phone-ico">

          <div class="country-and-phone">
            <div class="country-select" ng-click="vm.showCountryModal()">
              {{vm.countryCode}}
            </div>

            <input class="input-phone"
                   type="tel"
                   ng-model="vm.phone"
                   maxlength="10"
                   autofocus
                   oninput="this.value = this.value.replace(/\D/, '')">
          </div>
        </div>

        <div class="tooltip">
          <span>phone number</span>
        </div>
      </div>

      <div ng-if="vm.viewType.new_kid">
        <div class="add-remove-kid" ng-if="vm.viewType.new_kid">
          <img src="./img/kid/add-another-kid.png" class="add-remove-kid-img" ng-click="vm.addAnotherKid()">
        </div>

        <div class="continue-save-button continue-button" ng-click="vm.continue()" ng-if="vm.viewType.new_kid">
          continue
        </div>
      </div>

      <div ng-if="vm.viewType.edit_unregistered_kid">
        <div class="add-remove-kid" ng-if="vm.viewType.edit_unregistered_kid">
          <img src="./img/kid/trash.png" class="add-remove-kid-img" ng-click="vm.removeKid()">
        </div>

        <div class="continue-save-button save-button" ng-click="vm.continue()"
             ng-if="vm.viewType.edit_unregistered_kid">
          save
        </div>
      </div>

      <div ng-if="vm.viewType.edit_registered_kid" class="reg-followers">
        <div ng-if="vm.followers.length" class="title">
          <span>following this kid</span>
        </div>

        <div ng-repeat="(key, follower) in vm.followers" class="followers" ng-class="{'follower-margin': key}">
          <img src="./img/kid/follower.png" class="follower-img">
          <span>{{follower.code}} {{follower.phone}}</span>
          <img src="./img/kid/trash.png" class="follower-remove">
        </div>

        <div class="add-follower">
          <img src="./img/kid/add_follower.png" class="add-follower-button" ng-click="vm.showFollowerModal()">
        </div>

        <div class="access-panel">
          <div ng-if="vm.accessing()" class="block-access" ng-click="vm.changeAccessRight(false)">
            <img src="./img/kid/block.png" class="block-access-img">
            <div class="block-tile block">
              <span>block kid from</span>
              <span>accessing the app</span>
            </div>
          </div>

          <div ng-if="!vm.accessing()" class="access-remove">
            <div class="grant-access" ng-click="vm.changeAccessRight(true)">
              <img src="./img/kid/grant_access.png" class="grant-access-img">
              <div class="block-tile grant">
                <span>grant</span>
                <span>access</span>
              </div>
            </div>

            <div class="remove-from-app" ng-click="vm.showKidRemoveModal()">
              <img src="./img/kid/remove_from_app.png" class="remove-from-app-img">
              <div class="block-tile remove">
                <span>remove</span>
              </div>
            </div>
          </div>
        </div>

        <div class="continue-save-button save-button" ng-click="vm.saveCurrentKid()">
          save
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>


<script id="kid-country-modal" type="text/ng-template">
  <ion-modal-view>

    <ion-header-bar class="bar bar-header bar-energized" ng-click="vm.hideCountryModal()">
      <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
      <h1 class="title">Choose your country</h1>
    </ion-header-bar>

    <ion-content class="padding">
      <div ng-repeat="country in vm.countryCodes">
        <ion-radio ng-model="vm.countryCode" ng-value="country.code"
                   ng-click="vm.hideCountryModal()">
          {{country.name}}: {{country.code}}
        </ion-radio>
      </div>
    </ion-content>

  </ion-modal-view>
</script>


<script id="kid-match-modal" type="text/ng-template">
  <div class="kid-backdrop" ng-click="matchModal.hide()"></div>
  <ion-modal-view class="kids-exist-modal">

    <ion-content class="match-main-block">

      <div>
        <img src="./img/kid/modal/warning.png" class="warning-ico">
      </div>

      <div class="title-km">
        <p>that kid already exist</p>
        <p>in the app</p>
      </div>

      <div class="button-km">
        <img src="./img/kid/modal/mail.png" class="mail-km">
        <span class="mail-title-km">contact the administrator</span>
      </div>

      <div class="cancel-km">
        <span ng-click="matchModal.hide()">cancel</span>
      </div>
    </ion-content>

  </ion-modal-view>
</script>


<script id="kid-remove-modal" type="text/ng-template">
  <div class="kid-backdrop" ng-click="vm.hideKidRemoveModal()"></div>
  <ion-modal-view class="kids-remove-modal">

    <ion-content class="remove-main-block">

      <div class="title-kr">
        <span class="question-kr">are you sure?</span>
        <span class="description-kr">this kid will be removed permanently.</span>
      </div>

      <div class="button-block-kr">
        <div class="half-kr">
          <img src="./img/kid/modal/no.png" class="no-kr" ng-click="vm.hideKidRemoveModal()">
        </div>

        <div class="half-kr">
          <img src="./img/kid/modal/yes.png" class="yes-kr" ng-click="vm.removeKidModal()">
        </div>
      </div>
    </ion-content>

  </ion-modal-view>
</script>

<script id="add-follower-modal" type="text/ng-template">
  <div class="kid-backdrop" ng-click="vm.hideFollowerModal()"></div>
  <ion-modal-view class="add-follower-modal">

    <ion-content class="follower-main-block">

      <div class="title-f">
        <span class="question-f">insert parent number</span>
      </div>

      <div class="phone-block-f">

        <img src="./img/authorization/phone.png" class="phone-ico-f">

        <div class="country-and-phone-f">

          <div class="country-select-f" ng-click="vm.showCountryModal()">
            {{vm.countryCode}}
          </div>

          <div class="phone-f">
            <input class="input-phone-f"
                   type="tel"
                   ng-model="vm.phone"
                   maxlength="10"
                   autofocus
                   oninput="this.value = this.value.replace(/\D/, '')">
          </div>
        </div>

      </div>

      <div class="button-block-f">
        <div class="half-f">
          <img src="./img/kid/modal/cancel.png" class="cancel-f" ng-click="vm.hideFollowerModal()">
        </div>

        <div class="half-f">
          <img src="./img/kid/modal/invite.png" class="invite-f" ng-click="vm.addFollower()">
        </div>
      </div>
    </ion-content>

  </ion-modal-view>
</script>
