
.terms-condition-block {
  .menu-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: solid 2px #0b1138;
    img {
      width: 15px;
      margin-left: 9px;
    }
    p {
      margin: auto;
      font-size: 25px;
      text-transform: uppercase;
      color: #0b1138;
      font-family: American;
    }
  }
  .main-block {
    background: url('../img/kid-chat-room/background.png') no-repeat center / cover;
    height: calc(100vh - 87px);
    width: 100%;
    overflow-x: scroll;
    margin: 15px 0 0;
    padding: 0 15px;

    h3 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    p{
      font-family: Neue;
      font-size: 19px;
      padding-bottom: 15px;
      margin: 0;
      //word-spacing: 4px;
      text-align: justify;
      line-height: 25px;
      text-indent: 20px;
    }
    ul {
      display: block;
      list-style-type: disc;
      margin: 1em 0;
      padding-left: 25px;
    }
    li {
      font-family: Neue;
      font-size: 19px;
      padding-bottom: 10px;
      /* margin: 0; */
      text-align: justify;
      line-height: 25px;
    }

  }
}
