.auth-tel {

    .main-block {
      height: 100vh;
      min-height: 568px;
      width: 100vw;
      background: url('../img/authorization/main-backgroun.png') no-repeat #64cae2;
      background-size: cover;
    }

    .form-block {
      height: 68.3%;
      width: 100vw;
      display: table;
    }

    .tel-block {
      display: table-cell;
      vertical-align: bottom;
    }
    .code-block {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: bottom;

      .post-zone {
        margin-top: 109px;
      }
    }

    .man {
      width: 100%;
      text-align: center;
      .logo {
        width: 78%;
        margin: 84px 0 32px 65px;
      }
    }

    .input-block {
      position: relative;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      font-family: AmericanPatrius;
      color: #0b1138;
      height: 48px;
      width: 95%;
      margin: 0 auto 40px auto;
      display: flex;
      justify-content: space-between;
      span{
        font-size: 12px;
        font-weight: bold;
      }
    }

    .phone-ico {
      height: 1.1em;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .country-select {
      text-align: right;
      display: flex;
      justify-content: center;
      background: #fff;
      border: 2px solid #0b1138;
      border-radius: 5px;
      line-height: 44px;
    }

    .country{
      width: 34%;
    }

    .phone{
      width: 63%;
    }

    .privacy-policy {
      font-size: 16px;
      font-weight: 500;
      width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      a {
        color: #4d51ff;
        text-decoration: underline;
      }
      .input-privacy {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
      };
      input[type="checkbox"]{
        width: 30px;
        height: 30px;
        opacity:0;
        margin: 0 10px 0 -30px;
      }
      .checked{
        background: #0b1138;
      }
    }

    .tooltip {
      font-family: "AmericanPatrius";
      letter-spacing: -1px;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      color: #0b1138;
      font-weight: 500;
      margin: 4px 0 31px;
    }

    .login-button {
      font-family: AmericanPatrius;
      text-transform: uppercase;
      text-align: center;
      font-size: 19px;
      color: white;
      font-weight: 500;
      width: 95%;
      line-height: 46px;
      border: 2px solid #0b1138;
      border-radius: 5px;
      margin: 16px auto;
      background: url('../img/authorization/dots.png') center no-repeat;
      background-size: 140%;
      box-sizing: border-box;
      //background: linear-gradient(to right, #ff7300 50%,#ffae00 100%, transparent);
    }
    .button-title {
      padding-top: 5px;
    }

    .trouble-block {
      width: 100%;
      height: 132px;
      display: flex;
      margin-bottom: -7px;
    }

    .trouble {
      width: 50%;
      height: 100%;
      position: relative;
    }

    .send-again-img {
      position: absolute;
      //height: 54%;
      height: 72px;
      top: 38%;
      right: 6%;
    }

    .change-number-img {
      position: absolute;
      //height: 54%;
      height: 72px;
      top: 5%;
      left: 8%;
    }

    .receive-code {
      margin: 3px 0;
    }

    .approval-input {
      margin: 14px auto 12px;;
      text-align: -webkit-center;
    }

    .input-phone {
      color: #0b1138;
      font-size: 18px;
      text-align: center;
      font-family: AmericanPatrius;
      width: 100%;
      //width: 130px;
      height: 100%;
      line-height: 0;
      padding-bottom: 0;
      padding-top: 0;
      box-sizing: border-box;
      background: #fff;
      border: 2px solid #0b1138;
      border-radius: 5px;
    }

    .input-code {
      text-align: center;
      font-size: 18px;
      font-family: AmericanPatrius;
      width: 95%;
      height: 49px;
      color: #0b1138;
      border: 2px solid #0b1138;
      border-radius: 5px;
    }

    .notification {
      margin: 0 auto;
      p {
        margin: 8px 0;
      }
    }
}

@media (max-height: 640px) {
  .form-block {
    height: 75% !important;
  }
}
@media (max-height: 360px) {
  .form-block {
    height: 100% !important;
  }
  .auth-tel ion-content .man .logo {
    width: 65%;
    margin: 0 0 10px 65px;
  }
}

//#country-modal {
//
//  .animated.modal.slideInDown.ng-leave {
//    -webkit-animation-name:slideOutUp;
//    animation-name:slideOutUp;
//  }
//}

.country-modal {
  .country-filter {
    height: 40px;
    width: 100%;
    border: 1px solid #0b1138;
    font-size: 18px;
    padding: 0 14px;
    margin-bottom: 10px;
  }
  .codes-block {
    width: 100%;
    height: calc(100vh - 94px);
    overflow: scroll;
  }
}

.access-denied-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 390px !important;
  height: 208px !important;
  min-height: 50px !important;
  z-index: 2;
  background-color: black !important;

  .main-block {
    background: url('../img/kid/modal/dots.png') center no-repeat;
    background-size: 140%;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0!important;
    border: 2px solid #0a184c;
    border-radius: 5px;

    .data-block {
      width: 100%;
      text-align: center;
      margin-top: 24px;
      margin-bottom: 27px;

      .warning-line {
        display: flex;
        width: fit-content;
        margin: 0 auto;

        .warning-ico {
          height: 24px;
          margin-right: 10px;
          margin-top: -6px;
        }
      }
    }
    .title-km {
      display: block;
      text-align: center;
      font-size: 17px;
      line-height: 13px;
      text-transform: uppercase;
      margin-top: 8px;
      font-family: AmericanPatrius;
    }

    .close {
      height: 80px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 390px) {
  .access-denied-modal {
    width: 350px !important;

    .match-main-block {
      background-size: 115%;
      .button-km .mail-title-km {
        margin-right: 0;
      }
    }
  }

  .kids-remove-modal {
    width: 350px!important;
  }
  .add-follower-modal {
    width: 350px!important;
  }
}
@media (max-width: 350px) {
  .access-denied-modal {
    width: 320px !important;

    .match-main-block {
      background-size: 127%;
      .button-km .mail-title-km {
        font-size: 16px;
      }
    }
  }
}
