.kid-chat-menu {
  .menu-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #fff;
    border-bottom: solid 2px #0b1138;
  }
  .menu-block img {
    margin-right: 9px;
    margin-top: 21px;
    width: 26px;
  }
  .main-block {
    min-height: calc(100vh - 72px);
    height: fit-content;
    width: 100vw;
    background: url('../img/kid-chat-menu/background.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .call-and-chat {
    position: relative;
    //width: 100%;
    display: inline-flex;
    margin-top: 23px;
    margin-left: 13px;
    height: calc(100vh - 311px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .call-and-chat img {
    width: 210px;
  }
  .chat{
    position: relative;
    right: 0;
    span{
      border-radius: 50%;
      background-color: #e31b4f;
      border:solid 2px #0b1138;
      padding: 2px 5px 2px 5px;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      color: #fff;
      text-align: center;
    }
  }
  .call {
    position: absolute;
    left: calc(50% + -20px);
    top: 57px;
    span{
      border-radius: 50%;
      background-color: #e31b4f;
      border:solid 2px #0b1138;
      padding: 2px 5px 2px 5px;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      color: #fff;
      text-align: center;
    }
  }

  .live-now-main-block {
    //display: flex;
    //overflow: -webkit-paged-y;
    //overflow-y: hidden;
    //overflow-x: auto;
    height:200px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .swiper-pagination{ display:none; }
  .event-block:last-child {
    margin-right: 10px;
  }
  .event-block {
    //margin-right: 6px;
    height: 196px;
    width: 100%;
    position: relative;
    border: 1px solid #0b1138;
    box-sizing: border-box;

    .event-description {
      position: absolute;
      top: 74px;
      left: 0;
      text-align: center;
      //height: 100%;
      width: 100%;
    }
    .event-title {
      font-family: American;
      font-size: 24.5px;
      text-transform: uppercase;
      color: white;
      margin: 0 0 3px 0;
    }
    .event-live {
      font-family: AmericanPatrius;
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .event-date {
      font-family: AmericanPatrius;
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .event-time {
      font-family: AmericanPatrius;
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .event-bg {
      height: 195px;
      width: 100%;
    }
    .play {
      position: absolute;
      bottom: 0;
      right: 5px;
      padding: 10px;
      height: 50px;
    }
  }
}
@media screen and (min-width: 1366px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 500px;
    }
    .call{
      right: 100px;
    }
    .chat{
      margin-left: 100px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 450px;
    }
  }
}
@media screen and (max-width: 823px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 400px;
    }
  }
}
@media screen and (max-width: 768px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 350px;
    }
  }
}
@media screen and (max-width: 640px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 300px;
    }
  }
}
@media screen and (max-width: 414px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 210px;
    }
  }
}
@media screen and (max-width: 375px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 180px;
    }
  }
}
@media screen and (max-width: 320px) {
  .kid-chat-menu {
    .call-and-chat img {
      width: 150px;
    }
  }
}
