.parent-main-page {

  .main-block {
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    background: url('../img/parent-main-page/parent-main-page-bg.png') no-repeat center;
    background-size: cover;
    background-position: inherit;
    position: relative;
    padding: 75px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    width: 100%;
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    text-align: right;
    border-bottom: 2px solid #0b1138;

    .toolbar-btn {
      margin: 33px 10px 0 0;
      height: 26px;
    }
  }

  .empty-children {
    font-family: American;
    font-size: 22px;
    text-transform: uppercase;
    height: fit-content;
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }

  .kids-block {
    padding: 0 18px;
  }
  .kid-block {
    width: 100%;
    height: 97px;
    //position: relative;
    padding-top: 50px;
  }
  .kid {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #0b1138;
    border-radius: 5px;
    text-align: center;
    background: url("../img/parent-main-page/dots-blue.png") no-repeat center ;
    background-size: 140%;
  }
  .kid-with-cloud {
    width: calc(100% - 35px);
    padding: 11px 90px 0 90px;
    margin-left: 20px;
    margin-right: 15px;
  }
  .kid-without-cloud {
    width: calc(100% - 20px);
    padding: 11px 90px 0 90px;
    margin-left: 20px;
  }

  .kid-img {
    position: absolute;
    bottom: -3px;
    left: -20px;
    height: 90px;
  }
  .kid-warning {
    position: absolute;
    bottom: 14px;
    left: 10px;
    height: 45px;
  }
  .kid-call-now {
    position: absolute;
    bottom: 14px;
    left: 10px;
    height: 45px;
  }
  .kid-name {
    font-family: American;
    padding: 11px 90px 0 65px;
    margin: 0 auto;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
    .name-paragraph {
      text-shadow: 1px 1px 1px #0b1138, 0 0 1px #0b1138;
      margin-top: 2px;
    }
  }
  .kid-cloud {
    position: absolute;
    bottom: -12px;
    right: -19px;
    height: 72px;
  }

  .kid-color-warnnig {
    background-color: #bf1340 !important;
  }
  .kid-color0 {
    background-color: orangered !important;
  }
  .kid-color1 {
    background-color: #2fbc09 !important;
  }
  .kid-color2 {
    background-color: #0748da !important;
  }
  .kid-color3 {
    background-color: darkgoldenrod !important;
  }
  .kid-color4 {
    background-color: darkmagenta !important;
  }
  .kid-color5 {
    background-color: darksalmon !important;
  }
  .kid-color6 {
    background-color: darkslategrey !important;
  }
  .kid-color7 {
    background-color: olivedrab !important;
  }

  .kid-emergency-bg {
    background: url("../img/parent-main-page/dots-red.png") no-repeat center;
    background-size: 140%;
  }
  .kid-call-now-bg {
    background: url("../img/parent-main-page/dots-green.png") no-repeat center;
    background-size: 140%;
  }
  .kid-normal-bg {
    background: url("../img/parent-main-page/dots-blue.png") no-repeat center ;
    background-size: 140%;
  }

  .content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .live-now-main-block {
    display: flex;
    overflow: -webkit-paged-y;
    width: auto;
    padding-left: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 43px;
  }
  .event-block:last-child {
    margin-right: 10px;
  }
  .event-block {
    margin-right: 6px;
    height: 196px;
    width: 261px;
    position: relative;
    border: 1px solid #0b1138;
    box-sizing: border-box;

    .event-description {
      position: absolute;
      top: 74px;
      left: 0;
      text-align: center;
      height: 100%;
      width: 100%;
    }
    .event-title {
      font-family: American;
      font-size: 24.5px;
      text-transform: uppercase;
      color: white;
      margin: 0 0 3px 0;
    }
    .event-live {
      font-family: AmericanPatrius;
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .event-date {
      font-family: AmericanPatrius;
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .event-time {
      font-family: AmericanPatrius;
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      margin: 0;
    }
    .event-bg {
      height: 195px;
      width: 259px;
    }
    .play {
      position: absolute;
      bottom: 0;
      right: 5px;
      padding: 10px;
      height: 50px;
    }
  }

}
