@font-face {
  font-family: "American";
  src: url("fonts/American Captain.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AmericanPatrius";
  src: url("fonts/American Captain Patrius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lazy";
  src: url("fonts/Lazy Spring Day.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


//.kid-color-0 { background-color: rgb(255, 115, 0); }
//.kid-color-1 { background-color: rgb(255, 210, 0); }
//.kid-color-2 { background-color: rgb(186, 0, 255); }
//.kid-color-3 { background-color: rgb(255, 27, 79); }
//.kid-color-4 { background-color: rgb(0, 79, 255); }
//.kid-color-5 { background-color: rgb(47, 188, 9); }
//.kid-color-overflow { background-color: darkslategrey; }

.back-button {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
}
